<div>
  <div class="progress-bar">
    <p class="stock-percent m-0">
      <span class="percent light-text">{{stock.wh_coverage | decimalToPercentage}}</span>
      <span class=" light-text">STOCKOUT</span>
    </p>
    <app-progress-bar [min]="min" [max]="max" [rawValue]="progressBarValue"></app-progress-bar>
  </div>
  <div class="d-flex items-end flex-col coverage">
    <p [ngClass]="['m-0', coverage]">{{coverage | coverageToStatus}}</p>
    <p class="m-0 light-text">WH Coverage</p>
  </div>
</div>
