<section>
  <div class="card-image">
    <span></span>
    <img [src]="stock.imageUrl">
  </div>
  <div class="card-body">
    <div class="card-title">
      <p class="light-text m-b-0">{{stock.code}}</p>
      <h3 class="dark-text m-t-0">{{stock.name}}</h3>
    </div>
    <div class="card-price">
      <p class="light-text">{{stock.price | currency:'EUR'}}</p>
    </div>
    <div class="card-chart"></div>
    <div class="card-stockout">
      <app-stock-coverage-status [stock]="stock"></app-stock-coverage-status>
    </div>
  </div>
</section>
